<div class="message-container" id="message-<%= message.id %>">
  <div class="<%= current_user.id == message.sender_id ? 'msg message-sent' : 'msg message-received' %>">
    <!--<small><#%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>-->
    <p><%= message.content %></p>
</div>
</div>
