#carouselExampleIndicators,
#carouselExampleIndicators > div > div.carousel-item > img.d-block.w-100.rounded,
#content-wrap > div.container > div {
  border-radius: 16px !important;
}

#carouselExampleIndicators > a.carousel-control-prev > span.carousel-control-prev-icon,
#carouselExampleIndicators > a.carousel-control-next > span.carousel-control-next-icon {
  width: 10px;
  height: 15px;
  filter: invert(3);
}

.rides {
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #efefef;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.rides.light-mode {
  background-color: #fff; /* #4d4d4d */
  color: #000;
}

.rides.dark-mode {
  background-color: #363636; //#4d4d4d;
  color: #f4f4f4; /* #fefefe */
}

.r-h5 {
  font-size: 4vw;
  padding-left: 4px;
  padding-right: 8px;
}

.r-h5.light-mode, .r-p.light-mode, .rs-h5.light-mode, .rp.light-mode {
  color: #333333;
  background-color: transparent;
}

.r-h5.dark-mode, .r-p.dark-mode {
  color: #fefefe;
  background-color: #363636; //#4d4d4d;
}

.rp.dark-mode  {
  background-color: transparent;
}

.r-p {
  font-size: 3vw;
  padding-left: 4px;
}

.rs-h5 {
  font-size: 4vw;
  padding-left: 4px;
  padding-right: 4px;
}

.rs-h5.dark-mode {
  color: #fefefe;
}

.rp {
  font-size: 3vw;
  padding-left: 4px;
}

.card.card-ride {
  background-color: transparent;
  border: 0px transparent;
  border-radius: 16px;
}


.box {
  position: relative;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.line {
  position: absolute;
  width: 94%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: 15px;
}

.line.light-mode {
  border-bottom: .4vw solid #433520;
}

.line.dark-mode {
  border-bottom: .4vw solid #ccc;
}

.dot {
  width: 4vw;
  height: 4vw;
  background-color: #ccc;
  border-radius: 50%;
  z-index: 2;
}

/* edit and new ride */

#edit_ride > div.form-group.string.optional.ride_start_location.form-group-valid > label,
#edit_ride > div.form-group.string.optional.ride_end_location.form-group-valid > label,
#edit_ride > div.form-group.time.optional.ride_start_time.form-group-valid > label,
#edit_ride > div.form-group.time.optional.ride_end_time.form-group-valid > label,
#edit_ride > div.form-group.string.required.ride_available_dates.form-group-valid > label,
#new_ride > div.form-group.string.required.ride_end_location > label,
#new_ride > div.form-group.time.required.ride_start_time > label,
#new_ride > div.form-group.time.required.ride_end_time > label,
#new_ride > fieldset.form-group.radio_buttons.required.ride_difficulty > legend,
#new_ride > fieldset.form-group.radio_buttons.required.ride_number_of_people > legend,
#new_ride > div.form-group.string.required.ride_available_dates > label
 {
  padding-left: 8px;
}

#ride_short_description, #user_about_me, #user_interests {
  min-height: 12vh;
}

#new_ride > div.form-group.text.required.ride_short_description > label {
  font-weight: normal;
  padding-bottom: 0;
}

#ride_short_description, #new_ride > div.form-group.text.required.ride_short_description,
div.form-group.text.required.ride_short_description.form-group-valid > label,
div.form-group.text.required.ride_short_description {
  text-align: left;
  font-weight: normal;
}

#ride_available_dates.light-mode {
  background-color: #fff;
}


/* custom radio btns */
input[type="radio" i] {
  background-color: #00917C !important;
}


input[type="radio"]:checked {
  background-color: #00917C;
  border-radius: 50%;
}

input[type="radio"] {
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: .8em;
  height: .8em;
  background: transparent; //#E5E5E5;
  border-radius: 3em !important;
  position: relative;
  cursor: pointer;
  outline: none;
}

input[type="radio"]:after {
  position: absolute;
  content: "";
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #E5E5E5; //#363636
  -webkit-transform: scale(.7);
          transform: scale(.7);
}

input[type="radio"]:checked:after {
  background: #00917C;
}

.dark-mode.collection_radio_buttons {
  color: #FFF;
  background: #363636;
}

.light-mode.collection_radio_buttons {
  color: #000;
  background-color: #E5E5E5;
}

.ride-form-box {
  padding-top: 16px !important;
  margin-top: 14px;
}

.ride-form-box.light-mode {
  background-color: #E5E5E5;
}

.ride-form-box.dark-mode {
  background-color: #363636;
}

fieldset.form-group.radio_buttons.required.ride_difficulty.form-group-valid > div > label,
fieldset.form-group.radio_buttons.required.ride_number_of_people.form-group-valid > div > label,
#new_ride > fieldset.form-group.radio_buttons.required.ride_difficulty > div > label,
#new_ride > fieldset.form-group.radio_buttons.required.ride_number_of_people > div > label  {
  padding-left: 8px;
}

fieldset.form-group.radio_buttons.required.ride_difficulty.form-group-valid > div,
fieldset.form-group.radio_buttons.required.ride_number_of_people.form-group-valid > div,
#new_ride > fieldset.form-group.radio_buttons.required.ride_difficulty > div,
#new_ride > fieldset.form-group.radio_buttons.required.ride_number_of_people > div {
  display: flex;
}

/* ride index */

.card-ride-index {
  background-color: #fde8cd8f;
  border: 0px transparent;
  padding: 8px;
}


/* form */
fieldset.form-group.radio_buttons.required.ride_difficulty,
fieldset.form-group.radio_buttons.required.ride_number_of_people {
  display: flex;
  justify-content: space-around;
}

/* btn 'I want to go' */
#content-wrap > div.container > div:nth-child(4) > div > div.btn-box > a, #request-btn, input.brown-btn, a.brown-btn {
  background-color: #433520;
  padding: 8px 55px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  color: #fff;
  font-weight: 400;
  margin: 4px;
}

#content-wrap > div.container > div.card.card-ride > div.btn-box > a:hover {
  background-color: #433520;
  text-decoration: none;
}



/* bookmarks */

.far.fa-bookmark.r, .fas.fa-bookmark.r {
  color: rgba(0, 145, 125, 0.8);
  font-size: 22px;
  margin-top: 16px;
  margin-left: 4px;
}

/* preview multiple-photos */

#previewRide, .current-photos {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}

/* multi-upload-photos */

.multi-upload {
  border-radius: 0.2em;
  margin-top: 1px;
  padding: 0.2em;
}

.selected-file input[type='file'] {
  display: none;
}

#previewRide > div:nth-child(1) > img,
#previewRide > div:nth-child(2) > img,
#previewRide > div:nth-child(3) > img,
.current-photos > div:nth-child(1) > img,
.current-photos > div:nth-child(2) > img,
.current-photos > div:nth-child(3) > img  {
  padding: 0 4px;
}

// index page
.scroll-box {
  margin-top: 76px;
  max-height: 84vh;
  overflow-y: scroll;
}

// search select2

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 900;
}


.select2-container--light-mode .select2-results > .select2-results__options {
  color: #666;
  //background-color: #f4f4f4;
}

.select2-container--dark-mode .select2-results > .select2-results__options {
  color: #f4f4f4;
  background-color: #4d4d4d;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 38px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  outline:none;
}

.select2-container--light-mode .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 36px;
  padding-left: 16px;
}

.select2-container--dark-mode .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 36px;
  padding-left: 16px;
}
#content-wrap > div.container > div.row > div > form > span {
  width: 313px !important;
}

.select2-dropdown {
  //width: 290px !important;
  //top: -6px;
  //margin-left: 12px;
}

.select2-container--light-mode .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--dark-mode .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #00917c;
  color: white;
}


body > span > span > span.select2-search.select2-search--dropdown > input {
  display: none;
}

.select2-container--light-mode .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 16px;
  line-height: 2em;
}

.select2-container--dark-mode .select2-selection--single {
  background-color: #4d4d4d;
  border: 1px solid #ccc;
  border-radius: 16px;
  line-height: 2em;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--light-mode .select2-selection--single .select2-selection__arrow b,
.select2-container--dark-mode .select2-selection--single .select2-selection__arrow b {
  border-color: #00917c transparent transparent transparent;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  height: 0;
  left: 96%;
  margin-left: -12px;
  margin-top: 0px;
  position: absolute;
  top: 42%;
  width: 0;
}

.select2-container--light-mode.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--dark-mode.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #00917c transparent;
  border-width: 0 7px 8px 7px;
}

.select2-selection--single.open {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

#select2-select-results li {
  padding-left: 16px;
}

/* sweetalert */
a:hover {
  text-decoration: none;
}

.swal-footer {
  text-align:center;
}

.swal-button {
  background-color: #433520;
  color: #fff;
  border-radius: 16px;
}

.swal-modal.dark-mode {
  background-color: #4f4f4f;
  .swal-title {
    color: #fff;
  }
  .swal-text {
    color: #fff;
  }
}

.swal-button:not([disabled]):hover {
  background-color:  #433520;
}

.swal-button:active {
  background-color: #433520 !important;
}

.swal-icon {
  width: 60px;
  height: 60px;
}

.swal-icon--warning {
  border-color: #00917c !important;
}

.swal-icon--warning__body, .swal-icon--warning__dot {
  position: absolute;
  left: 50%;
  background-color: #00917c;
}

.swal-icon--warning__dot {
  margin-left: -3px;
  bottom: -10px;
}
.swal-icon--warning__body {
    width: 5px;
    height: 27px;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
}

.swal-modal {
  transform: scale(0.9);
  border-radius: 16px;
}

/* load popup */
.load-pop-ride {
  display: none;
  border: 1px solid #efefef;
  text-align: center;
  width: 84%;
  height: 220px;
  padding: 24px;
  padding-top: 48px;
  box-shadow: 0px 10px 50px 600px rgba(0,0,0,0.4);
  position: absolute;
  top: 50%;
  z-index: 3000;
}

.load-pop-ride.light-mode {
  background-color: #fff;
}

.rpl {
  font-weight: 600;
  background: transparent;
}

.rpl.light-mode {
  color: #666;
  background: transparent;
}

.load-pop-ride.dark-mode {
  background-color: #4d4d4d;
}

.rpl.dark-mode {
  color: #efefef;
}

#load-box-ride {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* photos forms + preview */
#photo_1 > div > label, #photo_2 > div > label, #photo_3 > div > label {
  border-radius: 16px;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background-color: transparent;
  border: none;
}

#photo_1 > div, #photo_2 > div, #photo_3 > div {
  margin-bottom: 8px;
}


.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  content: "Browse";
  border-left: inherit;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.custom-file-label.light-mode::after {
  color: #495057;
  background-color: #e9ecef;
  height: calc(1.5em + 0.90rem);
}

.custom-file-label.dark-mode::after {
  color: #fff;
  background-color: #666;
  height: calc(1.5em + 0.90rem);
}

label.file.required.custom-file-label {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border: none;
}

div.form-group.file.required.ride_photo_1.custom-file.dark-mode {
  background-color: #4d4d4d;
  border-radius: 16px;
}

div.form-group.file.required.ride_photo_1.custom-file.light-mode {
  background-color: #fff;
  border-radius: 16px;
}

div.form-group.file.required.ride_photo_2.custom-file.dark-mode {
  background-color: #4d4d4d;
  border-radius: 16px;
}

div.form-group.file.required.ride_photo_2.custom-file.light-mode {
  background-color: #fff;
  border-radius: 16px;
}

div.form-group.file.required.ride_photo_3.custom-file.dark-mode {
  background-color: #4d4d4d;
  border-radius: 16px;
}

div.form-group.file.required.ride_photo_3.custom-file.light-mode {
  background-color: #fff;
  border-radius: 16px;
}

i.fas.fa-times-circle.pr {
  position: relative;
  left: 82%;
  top: -23px;
  margin: 0;
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
  background-color: #696969;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 38%);
}

#previewPhoto1 > img, #previewPhoto2 > img, #previewPhoto3 > img {
  padding: 2px;
}

.photo-box {
  width: 95px;
  height: 70px;
  padding-left: 0px;
}

.current-photos.new {
  display: none;
}


// add new ride button
.new-ride-btn {
  font-size: 4.3vw;
  position: relative;
  color: #00917C;
  font-weight: bold;
  left: 21%;
  line-height: 3vh;
  padding: 1vh 4vh;
  border-radius: 16px;
  width: 60%;
  border: solid 1px #efefef;
  box-shadow: 3px 5px 6px rgba(4, 7, 17, 0.13);
}

.add-ride {
  color: #000;
  text-align: center;
  padding: 8px;
  margin-left: 4px;
}

.new-ride-btn.light-mode {
  background-color: #fff;
}
.new-ride-btn.light-mode a {
  color: #000;
}
.new-ride-btn.dark-mode {
  background-color: #363636;
}
.new-ride-btn.dark-mode a {
  color: #fff;
}
