#carouselExampleIndicators,
#carouselExampleIndicators > div > div.carousel-item > img.d-block.w-100.rounded,
#content-wrap > div.container > div {
  border-radius: 16px !important;
}

#carouselExampleIndicators > a.carousel-control-prev > span.carousel-control-prev-icon,
#carouselExampleIndicators > a.carousel-control-next > span.carousel-control-next-icon {
  width: 10px;
  height: 15px;
  filter: invert(3);
}

.rides {
  margin-bottom: 24px;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  border: 1px solid #efefef;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card.card-ride {
  background-color: transparent;
  border: 0px transparent;
  border-radius: 16px;
}


.box {
  position: relative;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.line {
  border-bottom: .4vw solid #433520;
  position: absolute;
  width: 94%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: 15px;
}

.dot {
  width: 4vw;
  height: 4vw;
  background-color: #ccc;
  border-radius: 50%;
  z-index: 2;
}

/* edit ride */

#edit_ride > div.form-group.string.optional.ride_start_location.form-group-valid > label {
  padding-left: 8px;
}

#edit_ride > div.form-group.string.optional.ride_end_location.form-group-valid > label {
  padding-left: 8px;
}

#edit_ride > div.form-group.time.optional.ride_start_time.form-group-valid > label {
  padding-left: 8px;
}

#edit_ride > div.form-group.time.optional.ride_end_time.form-group-valid > label {
  padding-left: 8px;
}

#edit_ride > div.form-group.string.required.ride_available_dates.form-group-valid > label {
  padding-left: 8px;
}

#edit_ride > div.multi-upload > div > label {
  border-radius: 16px;
}

/* ride index */

.card-ride-index {
  background-color: #fde8cd8f;
  border: 0px transparent;
  padding: 8px;
}


/* form */
fieldset.form-group.radio_buttons.required.ride_difficulty,
fieldset.form-group.radio_buttons.required.ride_number_of_people {
  display: flex;
  justify-content: space-between;
}

/* btn 'I want to go' */
#content-wrap > div.container > div:nth-child(4) > div > div.btn-box > a, #request-btn, input.brown-btn, a.brown-btn {
  background-color: #433520;
  padding: 8px 55px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  color: #fff;
  font-weight: 400;
  margin: 4px;
}

#content-wrap > div.container > div.card.card-ride > div.btn-box > a:hover {
  background-color: #433520;
  text-decoration: none;
}

/* bookmarks */

.far.fa-bookmark.r, .fas.fa-bookmark.r {
  color: rgba(0, 145, 125, 0.8);
  font-size: 20px;
  margin-top: 16px;
  margin-left: 4px;
}

/* preview multiple-photos */

#previewRide, .current-photos {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}

/* multi-upload-photos */

.multi-upload {
  border-radius: 0.2em;
  margin-top: 1px;
  padding: 0.2em;
}

.selected-file input[type='file'] {
  display: none;
}

#previewRide > div:nth-child(1) > img,
#previewRide > div:nth-child(2) > img,
#previewRide > div:nth-child(3) > img,
.current-photos > div:nth-child(1) > img,
.current-photos > div:nth-child(2) > img,
.current-photos > div:nth-child(3) > img  {
  padding: 0 4px;
}

// index page
.scroll-box {
  margin-top: 76px;
  max-height: 84vh;
  overflow-y: scroll;
}

// search select2

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 900;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 38px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  outline:none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 36px;
  padding-left: 16px;
}

#content-wrap > div.container > div.row > div > form > span {
  width: 313px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #00917c;
  color: white;
}

body > span > span > span.select2-search.select2-search--dropdown > input {
  display: none;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 16px;
  line-height: 2em;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #00917c transparent transparent transparent;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  height: 0;
  left: 50%;
  margin-left: -12px;
  margin-top: 0px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #00917c transparent;
  border-width: 0 7px 8px 7px;
}

#select2-select-results li {
  padding-left: 16px;
}
