<div style="padding-top: 24px;">
  <% if @conversations.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
      <p style="font-size: 60px;"><i class="far fa-comments"></i></p>
      <h6>No Messages Yet!</h6>
      <br>
      <p style="color: rgba(14, 0, 0, 0.38);">Connect with someone first!</p> <!-- write smtng nice here-->
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #433520; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>
    <div class="navbar fixed-top navbar-expand-sm navbar-light">
      <%= link_to search_conversations_path, style: 'color: #aaa;' do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
    <div style='height: 90vh; overflow-y: scroll;'>
      <% @conversations.each do |c| %>
        <%= render 'conversations/conversation', c: c %>
      <% end %>
    </div>
  <% end %>
</div>
