
<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <!-- anchor-->
  <% if @conversation.messages.present? %>
    <%= link_to '<<', conversation_path(@conversation, anchor: "message-#{@conversation.messages.last.id}"), class: 'back-link' %>
  <% else %>
    <%= link_to '<<', conversation_path(@conversation), class: 'back-link' %>
  <% end %>
</div>

<div class='' style='padding-top: 24px; max-height: 92vh;'>

  <%if @media.blank? %>
    <p style="text-align: center;">Nothing shared!</p>
  <% else %>
    <div class='scroll-box' style='padding: 12px 0 0 0; margin: 0;'>
      <% @media.each do |m| %>
        <div style='border: 3px solid #ccc; border-radius: 8px;'>
          <p style='background: #ccc; color: #fff; padding-left: 12px;'>
            <%= m[0].year < Date.current.year ? m[0].strftime("%Y, %^B") : m[0].strftime("%^B") %>
          </p>
          <div style='text-align: left; padding-left: 8px; margin-bottom: 16px;'>
            <% m[1].each do |media| %>
              <%= cl_image_tag media.attachment.key, width: 70, height: 70, crop: :fill, class:'imgs', style: 'padding: 2px;' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<!--
  <div class='row'>
      <div class="col">
        <h6>Sent (<#%= @media_sent.count %>)</h6>
      </div>
      <div class="col">
        <h6>Received (<#%= @media_received.count %>)</h6>
      </div>
  </div>

  <div class="row">
    <div class="col media-box media-sent">
      <#% @media_sent.each do |media| %>
        <#%= cl_image_tag media.attachment.key, width: 120, crop: :fit, style: 'padding: 8px;' %>
      <#% end %>
    </div>

    <div class="col media-box media-received">
      <#% @media_received.each do |media| %>
        <#%= cl_image_tag media.attachment.key, width: 120, crop: :fit, style: 'padding: 8px;' %>
      <#% end %>
    </div>
  </div>
-->
</div>

<div id='prevDiv' style='width: 220px;'></div>
