<span id='online-<%= @user.id %>' style='margin-bottom: -0.5em;'>
  <span id='user' data-online-id="<%= @user.id %>" style="font-size: 11px;font-weight: 300;">
    <%
      if @user.online?
        present_color = '#00917C;'
      else
        present_color = '#aaa;'
      end
    %>

      <i class='fas fa-circle' style="color:<%= present_color %>"></i>

    <!--
    <#% if !@user.online? %>
      <span style="font-size: 11px;"> <#%= @user.last_online %></span>
    <#% end %> -->
  </span>
</span>
