<%
  if @user.online?
    present_color = '#00917C;'
  else
    present_color = '#aaa;'
  end
%>
<span id='last-online-<%= @user.id %>'>
  <i class="fas fa-circle" style="color:<%= present_color %>" ></i>
</span>
