<div>
  <% if @bookmarks.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
       <!-- write here smtng nice -->
      <p style="font-size: 60px;"><i class="fas fa-bicycle"></i></p>
      <h6> No Rides Bookmarked!</h6>
      <br>
      <p style=""> You haven't saved any rides yet, so we don't have nything to show you!</p>
      <br>
      <%= link_to "Rides", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
    </div>
  <% else %>
    <div class='' style ="text-align: center;">
      <p style="font-size: 30px;"><i class="fas fa-bicycle"></i></p>
      <h6>Bookmarked Rides!</h6>
      <br>
    </div>
    <div style='height: 78vh; overflow-y: scroll;'>
      <% @bookmarks.each do |b| %>
        <% rides = Ride.where(id: b.favoritable_id) %>
        <% rides.each do |ride| %>
          <%= render 'rides/ride', ride: ride %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
