<div class="navbar fixed-top navbar-expand-sm navbar-light" style='padding: 0 22px; right: -2%;'>
  <%= link_to '<<', rides_path, class: 'back-link' %>
</div>

<div>
  <% if @bookmarks.blank? %>
    <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
       <!-- write here smtng nice -->
      <p style="font-size: 60px;"><i class="fas fa-bicycle"></i></p>
      <h6> No Rides Bookmarked!</h6>
      <br>
      <p style=""> You haven't saved any rides yet, so we don't have nything to show you!</p>
      <br>
      <%= link_to "Home", rides_path, style: "background-color: #222; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 8px; color: #fff; font-weight: 500;" %>
    </div>
  <% else %>
    <div class='' style ="text-align: center;">
      <p style="font-size: 30px;"></p>
      <h6>Bookmarks</h6>
        <hr style="width: 95%; text-align: center; padding-bottom: 13px;">
    </div>

    <div style='height: 78vh; overflow-y: scroll;'>
      <% @bookmarks.each do |b| %>
        <% rides = Ride.where(id: b.favoritable_id) %>
        <% rides.each do |ride| %>
          <%= render 'rides/ride', ride: ride %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
