<h1><%= @tag %></h1>
<% @tagged_users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= cl_image_tag user.profile_photo.key, height: 127, width: 127, crop: :fill, style: "margin-top: 16px; border-radius: 50%; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
  <% end %>
<% end %>
