<h1 class="interests"><%= @tag.name %></h1>
<div class='scroll-box'>
  <% @tagged.each do |t| %>
    <% user = User.find(t.taggable_id) %>
    <%= link_to user_path(user) do %>
      <%= cl_image_tag user.profile_photo.key, height: 70, width: 70, crop: :fill, style: "margin-top: 16px; border-radius: 16px; box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);" %>
    <% end %>
  <% end %>
</div>
