.msg {
  width: 40%;
  padding: 4px;
  border-radius: 16px;
  margin: 4px;
}

.message-sent {
  background-color: rgba(0, 145, 124, .2);
}

.message-received {
  background-color: rgba(0, 145, 124, .4);

}
