#myForm {
  background-color: #efefef;
  z-index: 1000;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%, 0);
  border-radius: 12px;
  box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.2);
  padding: 24px 40px;
}

#closeBtn {
  position: absolute;
  top: -4%;
  left: 90%;
  border: none;
  background-color: transparent;
  color: #433520;
  font-weight: 900;
  font-size: 24px;
}
