#myForm {
  background-color: #f4f4f4;
  z-index: 800;
  justify-content: center;
  position: absolute;
  top: 40%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  /*box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.3);*/
  border: 1px solid #efefef;
  box-shadow: 0px 20px 50px 300px rgba(0,0,0,0.4);
}


#closeBtn {
  position: absolute;
  top: -4%;
  left: 92%;
  border: none;
  background-color: transparent;
  color: #433520;
  font-weight: 900;
  font-size: 24px;
}

.brown-btn2 {
  background-color: #433520;
  padding: 1vh 14.4vh;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.38);
  border-radius: 16px;
  color: #fff;
  font-weight: 400;
  margin: 3px 0px;
}

#request_ride_date {
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
  padding-left: 28%;
}

/* requests && notifications */
.requests-box {
  height: 96vh;
}

.requests-box, .pending-box, .notifications-box {
  padding: 12px 8px;
  overflow-y: scroll;
}

.pending-box, .notifications-box {
  height: 86vh;
}

p.read, p.not-read {
  margin-bottom: 0.3em;
}

a.read, p.read {
  color: #696969;
}

a.not-read, p.not-read{
  color: rgb(0, 145, 124);
}


// select2
#select2-request_ride_date-container {
  width: 230px;
}

#select2-request_ride_date-results li {
  padding-left: 16px;
}
