.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 65%;
  margin:0;
  position: fixed;
  left: -55%;
  z-index: 900;
  color: #C0C0C0;
  height: 100%;
}

#sidebar-toggler {
  position: relative;
  right: -88%;
  font-size: 24px;
  padding-top: 8px;
}

.not-box {
  position: absolute;
  right: 1.8%;
  font-size: 14px;
  top: 0.3%;
  color: #433520; //rgba(0, 145, 124, 1);
  z-index: 1000;
}

.sidebar-nav.active {
  animation: showSidebar .5s 1 ease-in-out;
  animation-fill-mode: forwards;
}

.sidebar-box {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0,0);
}

.sidebar-box.active {
  animation: showSidebarBox .5s 1 ease-in-out;
  animation-fill-mode: forwards;
}

.sidebar-footer-box {
  font: 1em sans-serif;
  font-weight: 600;
  padding-left: 30px;
  padding-top: 16px;
  border-top: 1px solid;
  border-top-color: rgba(0,0,0,0);
}

.sidebar-footer-box.active {
  animation: showSidebarFooterBox .5s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showSidebar {
  from {left: -55%;}
  to {left: 0; background-color: rgba(0, 145, 124, 0.8); color: white; border-right: 1px solid; z-index: 1000;}
}


@keyframes showSidebarBox {
  to {background-color:rgba(0, 145, 124, 0.8); border-bottom-color: #fff; z-index: 900;}
}

@keyframes showSidebarFooterBox {
  to {border-top-color: #fff; z-index: 900;}
}

/*
#sidebar > div.not-box > div > i.fas.fa-bell.active
//.not-box.counter > i.fas.fa-bell.active {
{
  animation: showBell .5s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showBell {
  to { color: #2f2f2f; }
}
*/

span.circle {
  color: #433520;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
  padding: 0px 4px 1px 4px;
  border-radius: 50%;
}

span.circle2 {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  background-color:rgba(0, 145, 124, .7);
  padding: 0px 4px 2px 4px;
  border-radius: 50%;
}
