<div class="form-inline">
  <%= form_tag rides_path, class: "form-inline", method: :get do %>
    <%= select_tag(:select, options_for_select([
      ["Sort by Date", 2],
      ['Sort by Size', 1],
      ["Sort by Reviews", 3],
      ["Sort by Difficulty", 4],
      ], selected: params[:select]), {class: 'form-control m-1', onchange: 'this.form.submit();'})
    %>
  <% end %>
</div>
