<p><%= link_to "Add Ride", new_ride_path, class: "" %> </p>
<% if @rides.empty? %>
  <p class="text-secondary"> You still don't have any bike rides</p>
<% else %>
  <% @rides.each do |ride| %>
    <%= link_to ride_path(ride) do %>
      <%= render 'rides/ride', ride: ride %>
    <% end %>
  <% end %>
<% end %>
