<div class="navbar fixed-top navbar-expand-sm navbar-light">
  <%= link_to '<<', rides_path, class: 'back-link' %>
</div>

<% if @blocked_current || @blocked %>
  <div style ="position: fixed; left: 20%; top: 15%; width: 60%; text-align: center;">
    <p style="font-size: 60px;"><i class="fas fa-walking"></i><i class="fas fa-walking"></i></p>
    <h6>There is nothing here for you</h6>
    <br>
    <p style="">Please go </p> <!-- write smtng nice here-->
    <br>
    <%= link_to "Home", rides_path, style: "background-color: #00917C; padding: 8px 55px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 16px; color: #fff; font-weight: 400;" %>
  </div>
<% else %>
  <%= render 'rides/ride_show', ride: @ride %>
<% end %>
